$grey: #786F52
$purple: #715AFF
$red: #FF5A5F
$black: #011C27
$white: #F2F4FF

@use '_header'
@use '_mobileNav'

*
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: Roboto

html
	height: 100%

body
	height: 100%

.container
	align-items: center
	display: flex
	justify-content: center

#AppContainer
	background: $white
	min-height: 100vh
	height: 100%


.menuOverLay
	background: $black
	height: calc(100vh - 3em)
	position: absolute
	width: 100%

#mobileViewToggle
	background: white
	justify-content: space-around
	span
		font-weight: 700
		letter-spacing: 1px
		padding: 1em
		text-align: center
		width: 100%

.mobileViewChoice
	border-bottom: 2px solid $purple

@media only screen and (min-width: 920px)

	#AppContainer
		display: grid
		grid-template-rows: auto 40vh auto auto
		grid-template-columns: repeat(8, 1fr)
		height: 100%
